/*body { text-align: center; padding: 40px; background: #F5F5F5; }*/
.container-button { 
/*width: 350px; 

text-align: center;*/
text-align: center; 
padding: 40px;

}

.button:hover {  
  /* BUTTON SHADOW */
	/*box-shadow: 0 6px 6px #002851, 0 6px 0 #002851, -1px 0px 0 #003872, 0px 0px 0 #003872, 0px 7px 8px #000, 0 7px 20px #1b1b1b; */
	box-shadow: 0 6px 6px #000, 0 6px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 0px 7px 8px #000, 0 7px 20px #1b1b1b;
 }

.button {
  font-family: 'Rokkitt', serif; font-weight:700;
  font-size:1.2em;
  display: inline-block;
  height: 50px;
  width:250px;
  line-height: 50px;
  position: relative;
  background-color:#3498db;
  color:#fff;
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 15px;
  margin-left:25px;
  
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.button span {
  position: absolute;
  left: 0;
  width: 50px;
  background-color:rgba(0,0,0,0.5);
  
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-right: 1px solid  rgba(0,0,0,0.15);
}

.button:hover span, .button.active span {
  background-color:rgb(0,102,26);
  border-right: 1px solid  rgba(0,0,0,0.3);
}

.button:active {
  margin-top: 2px;
  margin-bottom: 13px;
  -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
box-shadow:0px 1px 0px rgba(255,255,255,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
}

.button.blue {
background:#3498db;
opacity:.8;
}

.button.turquoise {
  background: #1abc9c;
  opacity:.8;
}

.button.red {
  background: #e74c3c;
  opacity:.8;
}

.button.orange {
  background: #f39c12;
  opacity:.8;
}

.button.purple {
  background: #9b59b6;
  opacity:.8;
}

.button.blue:hover {
opacity:1.0;
color:#000;
}

.button.turquoise:hover {
opacity:1.0;
color:#000;
}

.button.red:hover {
opacity:1.0;
color:#000;
}

.button.purple:hover {
opacity:1.0;
color:#000;
}





