/********************* 
I"VE BROKEN THE STYLING DOWN SO YOU CAN SEE HOW ITS BUILT UP 
USING GRADIENTS, TEXT-SHADOWS AND BOX-SHADOWS
*********************/
a:hover {
text-decoration: none;
color: black;
}
span {
  width: 350px;
  margin: 0 auto;
  display: block;
}

.button {
  /* POSITIONING */
  padding: 30px;
  top: -200px;
  border-radius: 8px;
  position: relative;
  float: left;

  /* BUTTON STYLING */
  border-top: 1px solid #2980b9;
  box-shadow: 0 5px 8px #2980b9, 0 8px 0 #2980b9, -2px 1px 0 #003872, 2px 1px 0 #003872, 0px 8px 10px #000, 0 10px 30px #1b1b1b;

  /* FONT STYLING */
  font: bold 30px 'Rokkitt'; 
  letter-spacing: 4px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #00172e,1px 1px 1px #a1cfff;
  color: #8e44ad;
  letter-spacing:4 px;
}

.button:hover {  
  /* BUTTON SHADOW */
 box-shadow: 0 6px 6px #002851, 0 6px 0 #002851, -1px 0px 0 #003872, 0px 0px 0 #003872, 0px 7px 8px #000, 0 7px 20px #1b1b1b;
}

.button:active {  
  border-top: 1px solid #cde4fc;
  /* BUTTON SHADOW */
 box-shadow: 0 0px 0px #002851, 0 3px 0 #002851, 0px 0px 0 #003872, 0px 0px 0 #003872, 0px 2px 4px #000, 0 2px 10px #1b1b1b;
}

/* BLUE GRADIENT ON BUTTON */
.grad {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,184,255,1)), color-stop(100%,rgba(64,150,238,1)));
  background: linear-gradient(to bottom, rgba(46, 204, 113,.5) 0%,rgba(46, 204, 113,.8) 100%);
} 

/* ANIMATE THE BUTTON */
.transition,
.transition:hover,
.transition:active{
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.highlight {
  position: relative;
  margin: -150px auto 0 auto;
  width: 500px;
  height: 380px;
}
.highlight2 {
  position: relative;
  margin: -150px auto 0 auto;
  width: 500px;
  height: 300px;
}

.highlight3 {
  position: relative;
  margin: -150px auto 0 auto;
  height: 380px;
}

.button-2 {
  /* POSITIONING */
  padding:30px 39px 30px 39px;
  top: -200px;
  border-radius: 8px;
  position: relative;
  float: left;

  /* BUTTON STYLING */
  border-top: 1px solid #2980b9;
  box-shadow: 0 5px 8px #2980b9, 0 8px 0 #2980b9, -2px 1px 0 #003872, 2px 1px 0 #003872, 0px 8px 10px #000, 0 10px 30px #1b1b1b;

  /* FONT STYLING */
  font: bold 30px 'Rokkitt';
  letter-spacing: 4px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #00172e,1px 1px 1px #a1cfff;
  color: #8e44ad;
  letter-spacing:4 px;
}

.button-3 {
  /* POSITIONING */
  padding:30px 75px 30px 75px;
  top: -200px;
  border-radius: 8px;
  position: relative;
  float: left;

  /* BUTTON STYLING */
  border-top: 1px solid #2980b9;
  box-shadow: 0 5px 8px #2980b9, 0 8px 0 #2980b9, -2px 1px 0 #003872, 2px 1px 0 #003872, 0px 8px 10px #000, 0 10px 30px #1b1b1b;

  /* FONT STYLING */
  font: bold 30px 'Rokkitt'; 
  text-decoration: none;
  text-shadow: -1px -1px 1px #00172e,1px 1px 1px #a1cfff;
  color: #8e44ad;
  letter-spacing:4 px;
}

.button-2:hover {  
  /* BUTTON SHADOW */
 box-shadow: 0 6px 6px #002851, 0 6px 0 #002851, -1px 0px 0 #003872, 0px 0px 0 #003872, 0px 7px 8px #000, 0 7px 20px #1b1b1b;
}

.button-2:active {  
  border-top: 1px solid #cde4fc;
  /* BUTTON SHADOW */
 box-shadow: 0 0px 0px #002851, 0 3px 0 #002851, 0px 0px 0 #003872, 0px 0px 0 #003872, 0px 2px 4px #000, 0 2px 10px #1b1b1b;
}

.button-3:hover {  
  /* BUTTON SHADOW */
 box-shadow: 0 6px 6px #002851, 0 6px 0 #002851, -1px 0px 0 #003872, 0px 0px 0 #003872, 0px 7px 8px #000, 0 7px 20px #1b1b1b;
}

.button-3:active {  
  border-top: 1px solid #cde4fc;
  /* BUTTON SHADOW */
 box-shadow: 0 0px 0px #002851, 0 3px 0 #002851, 0px 0px 0 #003872, 0px 0px 0 #003872, 0px 2px 4px #000, 0 2px 10px #1b1b1b;
}